{% extends "exercises/base.html" %}

{% block title %}All Courses{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 title is-2">All Courses</h1>
    <div class="list-group">
        {% for course in courses %}
            
            <div class="d-flex w-100 justify-content-between list-group-item list-group-item-action mb-4">
                <a href="{% url 'exercises:course_detail' pk=course.pk %}" class="list-group-item list-group-item-action">
                    <h5 class="mb-0 mt-5 subtitle is-5">> {{ course.name }}</h5>
                </a>
                <p>{{ course.description|truncatewords:120 }}</p>
            </div>
        {% empty %}
            <p>No courses available yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %} 