steacher_app/node_modules
steacher_app/steacher.log
logs/


# Compiled JS files
steacher_app/static/js/dist/
steacher_app/backend/static/js/dist
steacher_app/frontend/node_modules

# Environment files
.env.*
*.env
certbot_data/

# Docker
volumes/
postgres_data/
static_data/
media_data/

# Python
__pycache__/
*.pyc
PRIVATE.md
scala_interpreter/project/project/target
scala_interpreter/project/target
scala_interpreter/target
research
