{% extends "exercises/base.html" %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <h2 class="title is-2">Login</h2>
            {% if form.errors %}
                <div class="notification is-danger">
                    Your username and password didn't match. Please try again.
                </div>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <div class="notification is-warning">
                        Your account doesn't have access to this page. To proceed, please login with an account that has access.
                    </div>
                {% else %}
                    <div class="notification is-info">
                        Please login to see this page.
                    </div>
                {% endif %}
            {% endif %}


            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="box">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ form.username }}
                            </div>
                        </div>
                    </div>
                </div>
                <p class="help">Use your university email to login.</p>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">{{ form.password.label }}</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ form.password }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content mt-4">
                    <details>
                        <summary>Disclaimer – Use of Data</summary>
                        <p>By using this platform, you acknowledge that your activity (such as logins, clicks, and interactions) will be recorded. These data are collected solely for pedagogical and research purposes within HEVS.</p>
                        <p>Data will not be used for commercial purposes and will be handled in accordance with Swiss data protection law and the GDPR. Access is restricted to the research team, and data will be stored securely.</p>
                        <p>If you have questions about data use or your rights, please contact Renaud Richardet.</p>
                    </details>
                </div>



                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">Login</button>
                    </div>
                </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <p class="mt-2">
              <a href="{% url 'register' %}">Create an account</a> ·
              <a href="{% url 'password_reset' %}">Forgot password?</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
