{% extends "exercises/base.html" %}
{% load static %}

{% block title %}About - Steacher{% endblock %}
{% block page_title %}About{% endblock %}

{% block content %}

<p class="title is-3 mt-6">Welcome to Steacher!</p>

<p>We're building an AI tutor that helps you learn and practice, but doesn't take away the fun of figuring things out on your own.</p>

<p class="mt-4 mb-4"><a href="mailto:renaud.richardet@hevs.ch">Contact us</a> if you have any questions.</p>

<p class="mb-6 mt-6">Here is a quick presentation of the app:</p>




<div class="mt-5 ml-0" style="display:flex; overflow-x:auto; gap:1rem; scroll-snap-type:x mandatory; max-width:1024px;">
    <img src="{% static 'images/about/202509_Steacher/Slide3.png' %}" 
         alt="Socratic tutor" 
         style="scroll-snap-align:start; width:140%; max-width:none; height:auto" loading="lazy"/>
</div>
<br/>
<div class="mt-5 ml-0" style="display:flex; overflow-x:auto; gap:1rem; scroll-snap-type:x mandatory; max-width:1024px;">
    <img src="{% static 'images/about/202509_Steacher/Slide4.png' %}"       
         alt="Socratic chat" 
         style="scroll-snap-align:start; width:140%; max-width:none; height:auto" loading="lazy"/>
</div>
<div class="mt-5 ml-0" style="display:flex; overflow-x:auto; gap:1rem; scroll-snap-type:x mandatory; max-width:1024px;">
    <img src="{% static 'images/about/202509_Steacher/Slide5.png' %}" 
         alt="Dynamic learning pathway" 
         style="scroll-snap-align:start; width:140%; max-width:none; height:auto" loading="lazy"/>
</div>
<div class="mt-5 ml-0" style="display:flex; overflow-x:auto; gap:1rem; scroll-snap-type:x mandatory; max-width:1024px;">        
    <img src="{% static 'images/about/202509_Steacher/Slide6.png' %}" 
         alt="Exercise authoring assistant" 
         style="scroll-snap-align:start; width:140%; max-width:none; height:auto" loading="lazy"/>
</div>


{% endblock %}