{% extends 'exercises/exercise.html' %}
{% load static %}

{% block title %}{{ exercise.title }} - Scala{% endblock %}

{% block exercise_content %}
<div id="scala-exercise-app"
     v-cloak
     data-static-prefix="{% get_static_prefix %}">
    {% csrf_token %}
    <div class="exercise-container">
        <div class="left-panel">
            <div class="exercise">
                <div class="content">
                    <div v-if="exercise.question"
                         v-html="renderMarkdown(exercise.question)"
                         class="box content mb-3 initial-question">
                    </div>
                    <div class="field">
                        <div class="control">
                            <code-mirror-editor
                                language="scala"
                                v-model="userCode"
                                :placeholder="'// Write your Scala code here'"
                                @run-query="runCode">
                            </code-mirror-editor>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped exercise-controls">
                    <div class="control">
                        <button
                            @click="runCode"
                            class="button is-primary"
                            :class="{ 'is-loading': loadingState !== 'idle' }"
                            :disabled="!userCode.trim() || loadingState !== 'idle'">
                            <span class="icon"><i class="fas fa-play"></i></span>
                            <span>Run Code</span>
                        </button>
                    </div>
                    <div class="control">
                        <button
                            @click="giveHint"
                            class="button is-info"
                            :class="{ 'is-loading': loadingState !== 'idle' }"
                            :disabled="loadingState !== 'idle'">
                            <span class="icon"><i class="fas fa-lightbulb"></i></span>
                            <span>Gimme a Hint</span>
                        </button>
                    </div>
                    <div class="control" v-if="durationMs">
                        <span class="tag is-light is-info is-medium">[[ durationMs ]] ms</span>
                    </div>
                </div>
                <div class="exercise-output mt-4">
                    <div v-if="executionError">
                        <div class="notification is-danger">
                            <h6 class="title is-6">Error:</h6>
                            <pre>[[ executionError ]]</pre>
                        </div>
                    </div>
                    <h6 class="title is-6 mt-6 mb-2">Console Output:</h6>
                    <pre class="has-background-black has-text-white p-5 is-size-6 console-output">[[ executionOutput ]]</pre>
                </div>
            </div>
        </div>
        <div class="right-panel">
            <chatbot-panel
                :messages="chatMessages"
                :loading="loadingState === 'getting-guidance'"
                @question-asked="handleQuestion"
                @option-selected="handleOptionSelected">
            </chatbot-panel>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<!-- Import Map for Bare Module Specifiers -->
<script type="importmap">
{
  "imports": {
    "vue": "{% static 'vue/dist/vue.esm-browser.js' %}",
    "canvas-confetti": "{% static 'canvas-confetti/dist/confetti.module.mjs' %}",
    "./ChatbotPanel.js": "{% static 'js/dist/ChatbotPanel.js' %}",
    "marked": "{% static 'marked/lib/marked.esm.js' %}",
    "dompurify": "{% static 'dompurify/dist/purify.es.mjs' %}",
    "./CodeMirrorEditor.js": "{% static 'js/dist/CodeMirrorEditor.js' %}",
    "codemirror-bundle": "{% static 'js/dist/codemirror-bundle.js' %}"
  }
}
</script>

<!-- Our JavaScript -->
<script type="module" src="{% static 'js/dist/scala.js' %}"></script>

{% endblock %}


