{% extends "exercises/base.html" %}
{% load markdown %}

{% block title %}{{ course.name }}{% endblock %}

{% block page_title %}
    <span>{{ course.name }}</span>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="level mb-1">
        <div class="level-left">
            <div>
                <h1 class="mb-3 title is-2">{{ course.name }}</h1>
                
            </div>
        </div>
        {% if can_teacher_view %}
        <div class="level-right">
            <a class="button is-light" href="{% url 'teachers:course_detail' pk=course.pk %}">Teacher view</a>
        </div>
        {% endif %}
        
    </div>
    <div class="content">
        <div class="lead is-size-5 ml-0 mr-4 mt-0 mb-6">{{ course.description | markdown }}</div>
    </div>



    <div id="modules-list" class="mt-5 student-view">
        {% if modules %}
        {% for module in modules %}
        <div class="card mb-3">
            <header class="card-header">
                <p class="card-header-title">
                    {{ module.name }}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="exercise-list">
                        {% for exercise in module.visible_exercises %}
                        <a class="exercise-link list-group-item mb-3" style="min-height: 2em;" href="{% url 'exercises:exercise_detail' pk=exercise.pk %}">
                            <div class="level">
                                <div class="level-left">
                                    <div class="exercise-info columns is-mobile is-gapless">
                                        <div class="column is-narrow" style="width: 70px;">
                                            <span class="order-number mr-1">{{ forloop.counter }}</span>
                                            {% if completed_exercise_ids and exercise.id in completed_exercise_ids %}
                                                <span class="icon has-text-success" title="Completed">
                                                    <i class="fas fa-check-circle"></i>
                                                </span>
                                            {% else %}
                                                <span class="icon has-text-grey-light" title="Not completed">
                                                    <i class="far fa-circle"></i>
                                                </span>
                                            {% endif %}
                                        </div>
                                        <div class="column ml-2">
                                            <div class="exercise-title-line">
                                                  <span class="exercise-title">{{ exercise.localized_title|default:exercise.title }}</span>
                                            </div>
                                            <div class="exercise-description">
                                                {{ exercise.localized_description|default:exercise.description|truncatewords:20 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% empty %}
                        <p>This module does not have any exercises yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <p>This course does not have any modules yet.</p>
        {% endfor %}
        {% else %}
            {% for module in course.modules.all %}
            {% if module.visible %}
            <div class="card mb-3">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ module.name }}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="exercise-list">
                            {% for exercise in module.visible_exercises %}
                            <a class="exercise-link list-group-item mb-3" style="min-height: 5em;" href="{% url 'exercises:exercise_detail' pk=exercise.pk %}">
                                <div class="level">
                                    <div class="level-left">
                                        <div class="exercise-info columns is-mobile is-gapless">
                                            <div class="column is-narrow" style="width: 70px;">
                                                <span class="order-number mr-2">{{ forloop.counter }}</span>
                                                {% if completed_exercise_ids and exercise.id in completed_exercise_ids %}
                                                    <span class="icon has-text-success" title="Completed">
                                                        <i class="fas fa-check-circle"></i>
                                                    </span>
                                                {% else %}
                                                    <span class="icon has-text-grey-light" title="Not completed">
                                                        <i class="far fa-circle"></i>
                                                    </span>
                                                {% endif %}
                                            </div>
                                            <div class="column">
                                                <div class="exercise-title-line">
                                                      <span class="exercise-title">{{ exercise.localized_title|default:exercise.title }}</span>
                                                </div>
                                                <div class="exercise-description">
                                                    {{ exercise.localized_description|default:exercise.description|truncatewords:20 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% empty %}
                            <p>This module does not have any exercises yet.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
                <p>This course does not have any modules yet.</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
