{% extends "exercises/base.html" %}

{% block title %}{{ course.name }}{% endblock %}

{% block page_title %}
    <span>{{ course.name }}</span>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="level">
        <div class="level-left">
            <div>
                <h1 class="mb-3 title is-2">{{ course.name }}</h1>
                <p class="lead">{{ course.description }}</p>
            </div>
        </div>
        {% if user.is_staff %}
        <div class="level-right">
            <a class="button is-light" href="{% url 'teachers:course_detail' pk=course.pk %}">Teacher view</a>
        </div>
        {% endif %}
    </div>


    <div id="modules-list" class="mt-5">
        {% if modules %}
        {% for module in modules %}
        <div class="card mb-3">
            <header class="card-header">
                <p class="card-header-title">
                    {{ module.name }}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="exercise-list">
                        {% for exercise in module.exercises.all %}
                        <div class="list-group-item mb-3">
                            <div class="level">
                                <div class="level-left">
                                    <div class="exercise-info columns is-mobile is-gapless">
                                        <div class="column is-narrow">
                                            <span class="order-number mr-1">{{ exercise.order }}.</span>
                                            {% if completed_exercise_ids and exercise.id in completed_exercise_ids %}
                                                <span class="icon has-text-success" title="Completed">
                                                    <i class="fas fa-check-circle"></i>
                                                </span>
                                            {% else %}
                                                <span class="icon has-text-grey-light" title="Not completed">
                                                    <i class="far fa-circle"></i>
                                                </span>
                                            {% endif %}
                                        </div>
                                        <div class="column ml-2">
                                            <div class="exercise-title-line">
                                                <a href="{% url 'exercises:exercise_detail' pk=exercise.pk %}">
                                                  <span class="exercise-title">{{ exercise.title }}</span>
                                                </a>
                                            </div>
                                            <div class="exercise-description">
                                                {{ exercise.description|truncatewords:20 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>This module does not have any exercises yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <p>This course does not have any modules yet.</p>
        {% endfor %}
        {% else %}
            {% for module in course.modules.all %}
            {% if module.visible %}
            <div class="card mb-3">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ module.name }}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="exercise-list">
                            {% for exercise in module.exercises.all %}
                            {% if exercise.visible %}
                            <div class="list-group-item mb-3">
                                <div class="level">
                                    <div class="level-left">
                                        <div class="exercise-info columns is-mobile is-gapless">
                                            <div class="column is-narrow">
                                                <span class="order-number mr-2">{{ exercise.order }}.</span>
                                                {% if completed_exercise_ids and exercise.id in completed_exercise_ids %}
                                                    <span class="icon has-text-success" title="Completed">
                                                        <i class="fas fa-check-circle"></i>
                                                    </span>
                                                {% else %}
                                                    <span class="icon has-text-grey-light" title="Not completed">
                                                        <i class="far fa-circle"></i>
                                                    </span>
                                                {% endif %}
                                            </div>
                                            <div class="column">
                                                <div class="exercise-title-line">
                                                    <a href="{% url 'exercises:exercise_detail' pk=exercise.pk %}">
                                                      <span class="exercise-title">{{ exercise.title }}</span>
                                                    </a>
                                                </div>
                                                <div class="exercise-description">
                                                    {{ exercise.description|truncatewords:20 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% empty %}
                            <p>This module does not have any exercises yet.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
                <p>This course does not have any modules yet.</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}



