{% extends "registration/auth_base.html" %}

{% block auth_page_title %}Reset Password{% endblock %}

{% block auth_content %}

{% if form.errors %}
    <div class="notification is-danger">
        <ul>
            {% for e in form.non_field_errors %}<li>{{ e }}</li>{% endfor %}
            {% for e in form.email.errors %}<li>{{ e }}</li>{% endfor %}
        </ul>
    </div>
{% elif errors %}
    <div class="notification is-danger">
        <ul>{% for e in errors %}<li>{{ e }}</li>{% endfor %}</ul>
    </div>
{% endif %}

<h2 class="title is-3">Reset your password</h2>
<form method="post">{% csrf_token %}
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input{% if form.email.errors %} is-danger{% endif %}" type="email" name="{{ form.email.html_name }}" value="{{ form.email.value|default:'' }}" required>
    </div>
    {% if form.email.errors %}
      <p class="help is-danger">{% for e in form.email.errors %}{{ e }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</p>
    {% endif %}
  </div>
  <button class="button is-primary" type="submit">Send reset link</button>
</form>

<p class="mt-5 ml-2 mb-2">
  <a class="no-underline has-text-grey mr-2" href="{% url 'login' %}">Log in</a>
</p>


{% endblock %}


