Django~=5.0
psycopg2-binary
django-cors-headers
openai>=1.0.0
djangorestframework
django-jsonform
argon2-cffi
pytest
pytest-django
playwright
pytest-playwright
gunicorn
python-dotenv
requests
pydantic
newrelic